* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

A {
    color: #ffffff;
}

A:visited {
    color: #ffffff;
}

button:focus {
    outline: none;
    background-color: #f7a253;
}

header {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}

body {
    width: 1440px;
    font-family: Helvetica, sans-serif;
    margin: 0 auto;
}

.container {
    margin-left: 145px;
    margin-right: 145px;
    justify-content: center;
    align-items: center;
}

.top {
    background: url(../img/bg-top.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 10%;
    width: 100%;
}

.middle {
    background: url(../img/bg-middle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60%;
    width: 100%;
    text-align: center;
}

h1 {
    margin: 0 auto;
    padding: 80px 0px 80px 0px;
    font-size: 60px;
    font-family: Helvetica, sans-serif;
    text-shadow: 4px 4px 6px red;
}

h2 {
    margin: 0 auto;
    padding: 10px 0px 10px 145px;
    font-size: 28px;
    color: white;
    font-family: Helvetica, sans-serif;
}

.second-head {
    margin-top: 0px;
    justify-content: center;
    background: url(../img/bg-bot.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 10%;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.nav-bot {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

nav li {
    margin: 24px 10px;
}

nav li:nth-child(2) {
    margin-left: auto;
}

.nav-link {
    max-width: 200px;
    padding: 10px;
}

.nav-item {
    padding: 20px;
    margin-right: auto;
}

.button {
    background-color: #222020;
    padding: 10px;
    margin: 10px;
    border-radius: 40px;
    height: 40px;
    width: auto;
    font-size: 20px;
    border: none;
    box-shadow: 0 2px 4px #2e2e2e;
    color: white;
}

.button-2 {
    background-color: #DAD2D2;
    margin-right: 105px;
    border-radius: 20px;
    height: 100%;
    width: 230px;
    justify-content: center;
    color: black;
}

.button-2-text {
    padding-left: 16px;
}

.but {
    background-color: #FB9232;
    margin-top: 18px;
    border-radius: 20px;
    height: 60px;
    width: 230px;
    border: none;
    box-shadow: 0 2px 4px #2e2e2e;
    color: white;
}

.input-class {
    box-sizing: border-box;
}

.search-form {
    position: relative;
    width: auto;
    margin: 0 auto
}

input[type=button] {
    color: #666565;
    position: absolute;
    top: 6px;
    right: 0px;
    width: 30px;
    height: 30px;
    border: none;
    background: #FB9232;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    z-index: 11;
    opacity: 0.7;
}

.overlay {
    position: absolute;
    top: 8px;
    right: 2px;
    cursor: pointer;
    z-index: 10;
}

.search {
    color: #000000;
}


/*ТЕКСТ КАРТИНКА*/

.razdel-hits {
    background: url(../img/hit.png);
    background-repeat: no-repeat;
}

.razdel {
    background: url(../img/razdel.png);
    background-repeat: no-repeat;
}

.second-head {
    margin-top: 0;
    display: flex;
}


/*Кнопка покупки*/

.basket {
    background-color: #DAD2D2;
    border-radius: 40px;
    height: 40px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    border: none;
}

.buy-but {
    background-color: #FB9232;
    border-radius: 40px;
    height: 40px;
    width: 124px;
    border: none;
    color: white;
    position: absolute;
    margin-top: -40px;
}

.plus {
    position: absolute;
    font-size: 36px;
    font-weight: bold;
    padding-left: 136px;
}

.vector {
    position: absolute;
    padding-right: 10px;
    padding-left: 160px;
    padding-top: 6px;
}

.about-us {
    width: 1440px;
    height: 1024px;
    background: url(../img/BG.about-us.png);
    background-repeat: no-repeat;
}

.about-us-text {
    margin-top: 160px;
    font-size: 36px;
}


/* best */

.best-list {
    display: flex;
    align-items: flex-end;
    padding-top: 20px;
    padding-bottom: 100px;
}


/* Aks */

.acc-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-top: 100px;
    padding-bottom: 100px;
}


/* hats */

.hats-list {
    display: flex;
    align-items: flex-end;
    padding-top: 100px;
    padding-bottom: 100px;
}


/* clothes */

.clothes-list {
    display: flex;
    align-items: flex-end;
    padding-top: 100px;
    padding-bottom: 100px;
}


/* food */

.food-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-top: 100px;
    padding-bottom: 100px;
}


/* back */

.back-list {
    display: flex;
    align-items: flex-end;
    padding-top: 100px;
    padding-bottom: 100px;
}


/* footer */

.footer-image {
    background-color: #212722;
    text-align: center;
    position: relative;
    width: 100%;
    height: 120px;
}

.footer-h2 {
    padding: 26px 0px 10px 0px;
    font-size: 20px;
}

.footer-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text {
    color: #ffffff;
    font-size: 14px;
}

.footer-img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}


/* форма отправки */

.modalwin {
    height: 400px;
    width: 300px;
    background: linear-gradient(-45deg, #0a0a0a, #545454);
    top: 20%;
    right: 0;
    left: 0;
    font-size: 14px;
    margin: 0 auto;
    z-index: 2;
    display: none;
    position: fixed;
    padding: 15px;
    border: 3px solid#C4C4C4;
    ;
    border-radius: 30px;
}

#shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #000;
    opacity: 0.5;
    left: 0;
    top: 0;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
}

input[type=text] {
    padding-left: 10px;
    font-size: 14px;
    box-shadow: 0 2px 4px #2e2e2e;
    width: 200px;
    height: 30px;
    margin-top: 6px;
    margin-bottom: 6px;
    border: 2px solid #DAD2D2;
    border-radius: 10px;
    outline: none;
    background: #DAD2D2;
    color: #000000;
}

input,
textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid #DDDDDD;
}

input:focus,
textarea:focus {
    box-shadow: 0 0 5px #f7a253;
    border: 1px solid #f7a253;
}

input[type=tel] {
    padding-left: 10px;
    font-size: 14px;
    box-shadow: 0 2px 4px #2e2e2e;
    width: 200px;
    height: 30px;
    margin-top: 6px;
    margin-bottom: 6px;
    border: 2px solid #DAD2D2;
    border-radius: 10px;
    outline: none;
    background: #DAD2D2;
    color: #000000;
}

input[type=tel],
textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid #DDDDDD;
}

input[type=tel]:focus,
textarea:focus {
    box-shadow: 0 0 5px #f7a253;
    border: 1px solid #f7a253;
}

input[type=email] {
    padding-left: 10px;
    font-size: 14px;
    box-shadow: 0 2px 4px #2e2e2e;
    width: 200px;
    height: 30px;
    margin-top: 6px;
    margin-bottom: 6px;
    border: 2px solid #DAD2D2;
    border-radius: 10px;
    outline: none;
    background: #DAD2D2;
    color: #000000;
}

input[type=email],
textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid #DDDDDD;
}

input[type=email]:focus,
textarea:focus {
    box-shadow: 0 0 5px #f7a253;
    border: 1px solid #f7a253;
}

.sub {
    margin-top: 20px;
    background-color: #FB9232;
    border-radius: 40px;
    height: 40px;
    width: 124px;
    border: none;
    color: white;
    white-space: normal;
}

.sub:focus {
    margin-top: 20px;
    outline: none;
    background-color: #f7a253;
    border-radius: 40px;
    height: 40px;
    width: 124px;
    border: none;
    color: white;
    white-space: normal;
}

@media (max-width: 1304px) {
    .container-web-site {
        width: 1287px;
    }
    header {
        width: 1287px;
    }
    body {
        width: 1287px;
    }
    footer {
        width: 1287px;
    }
    .nav {
        width: 1287px;
    }
    .about-us {
        width: 1287px;
    }
    .container {
        margin-left: 80px;
        margin-right: 80px;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1024px) {
    .container-web-site {
        width: 1024px;
    }
    header {
        width: 1024px;
    }
    body {
        width: 1024px;
    }
    footer {
        width: 1024px;
    }
    .nav {
        width: 1024px;
    }
    .about-us {
        width: 1024px;
    }
    .container {
        margin-left: 60px;
        margin-right: 60px;
        justify-content: center;
        align-items: center;
    }
    .best-list {
        flex-wrap: wrap;
    }
    .hats-list {
        flex-wrap: wrap;
    }
    .clothes-list {
        flex-wrap: wrap;
    }
    .back-list {
        flex-wrap: wrap;
    }
    .button {
        width: auto;
        height: 30px;
        margin: 6px;
        font-size: 16px;
        padding-top: 4px;
    }
}

@media(min-width: 10px) and (max-width: 768px) {
    .container-web-site {
        width: auto;
    }
    header {
        width: auto;
    }
    body {
        width: auto;
    }
    footer {
        width: auto;
    }
    .nav {
        width: 100%;
        height: auto;
        background-position: top;
    }
    .about-us {
        width: auto;
    }
    .about-us-text {
        font-size: 18px;
    }
    .container {
        margin-left: 20px;
        margin-right: 20px;
        justify-content: center;
        align-items: center;
        width: auto;
    }
    .nav-about-us {
        display: none;
    }
    .question {
        display: none;
    }
    .best-list {
        flex-wrap: nowrap;
        overflow-y: scroll;
        width: auto;
    }
    .acc-list {
        flex-wrap: nowrap;
        overflow-y: scroll;
        width: auto;
    }
    .hats-list {
        flex-wrap: nowrap;
        overflow-y: scroll;
        width: auto;
    }
    .clothes-list {
        flex-wrap: nowrap;
        overflow-y: scroll;
        width: auto;
    }
    .food-list {
        flex-wrap: nowrap;
        overflow-y: scroll;
        width: auto;
    }
    .back-list {
        flex-wrap: nowrap;
        overflow-y: scroll;
        width: auto;
    }
    .nav-item {
        position: relative;
    }
    .nav {
        background: none;
    }
    nav ul {
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    nav li:nth-child(2) {
        margin: 0px;
    }
    h1 {
        font-size: 40px;
        padding: 40px 0px 40px 0px;
    }
    .button {
        width: auto;
        height: 20px;
        margin: 0px;
        font-size: 12px;
    }
    .button-2 {
        background-color: #DAD2D2;
        margin-right: 10px;
        border-radius: 20px;
        width: 20%;
        text-align: center;
    }
    .button-2-text {
        font-size: 14px;
        padding-left: 2px;
    }
    .but {
        background-color: #FB9232;
        border-radius: 20px;
        height: auto;
        width: 100%;
        font-size: 12px;
        text-align: center;
    }
    .text-but {
        padding: 6px 6px 6px 6px;
    }
    input[type=search] {
        width: 108px;
        height: 30px;
        font-size: 10px;
        margin: 0px;
        border-radius: 4px;
        padding-left: 2px;
    }
    .razdel-hits {
        text-align: center;
    }
    .razdel {
        text-align: center;
    }
    h2 {
        padding: 10px 0px 10px 0px;
    }
    .search-svg {
        padding-left: 2px;
        margin-top: 6px;
    }
}